.bg-danger {
  background-color: #f5576c;
}
.bg-success {
  background-color: #b3d369;
}
.bg-orange {
  background-color: #ff9131;
}
.bg-warning {
  background-color: #ffbc09;
}

.bg-pink {
  background-color: #ff69b4;
}
.bg-primary {
  background-color: #36d4ed;
}
